body {
	padding: 20px, 20px, 20px, 20px;
}

h1 {
	padding: 10px 0px 100px 0px;
	color: darkblue;
	text-align: center;
	background-color: grey;
	font-family: sans-serif;
}

.win {
	color: white;
	background-color: green;
}

.lose {
	color: white;
	background-color: red;
}


